body{
	justify-content:center;
	align-items:center;
	font:times new roman;
	height:100vh;
	color:white;
	background-color:black;
}


.ul--nav{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:130px;
	padding:15px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:700;
	list-style:none;
}
.ul--nav * {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:all 0.35s ease;
	transition:all 0.35s ease;
}
.ul--nav a{
	position:relative;
	color:rgba(205, 207, 205, 0.5);
	padding:0.5rem 0.8rem;
	text-decoration:none;
}
.ul--nav a:before,
.ul--nav a:after{
	position:absolute;
	height:15px;
	width:15px;
	content:'';
	-webkit-transition:all 0.35s ease;
	transition:all 0.35s ease;
	opacity:0;
}
.ul--nav a:before{
	right:0;
	top:0;
	border-right:3px solid #07d111;
	border-top:3px solid #07d111;
	-webkit-transform:translate(-100%,50%);
	transform:translate(-100%,50%);
}
.ul--nav a:after{
	left:0;
	bottom:0;
	border-left:3px solid #07d111;
	border-bottom:3px solid #07d111;
	-webkit-transform:translate(100%,-50%);
	transform:translate(100%,-50%);
}
.ul--nav a:hover,
.ul--nav .home a{
	color:#49de16;
}
.ul--nav a:hover:before,
.ul--nav .home a:before,
.ul--nav a:hover:after,
.ul--nav .home a:after{
	-webkit-transform:translate(0%,0%);
	transform:translate(0%,0%);
	opacity:1;

}
.text {
  font-size: 20px;
  padding-left: 100px;
  float: left;
}

span{
	color:red;
}
span:hover{
	color:#fff;
	text-shadow:0 0 5px #46d413,
	0 0 25px #46d413,
	0 0 50px #46d413,
	0 0 100px #46d413;
}

.mainpic {
  align-items: center;
  float:center;
}
.mainpic img{
	border-radius:60%;
	width:43%;
}

.footer{
	background-color: ;
}
.footer img{
	display: inline-block;
	height:35px;
	justify-content: center;
	align-items: center;
	padding:10px;
	left: 43%; transform: translate(-50%);
	bottom: -20px;
	position: relative;
}

.Gallery {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}



.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  
  
  object-fit: cover; 
  transition: .5s;
}


.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: #288008;
  background-image:url("../src/bg4.jpg");
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}


